#skill{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    
}
.skill-header{
    text-align: center;
}
.parent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  padding: 2rem 5rem;
  background-color: rgb(36, 91, 202);
  border-radius: 2rem;
  transition: 0.4s;
}
.parent-container:hover{
    background-color: rgba(88, 109, 150, 0.3);
    border: 1px solid blue;
}

.skill-container {
  line-height: 1%;
  text-align: center;
  padding: 8%;
  color: rgb(136, 255, 0);
}
.skill-container p {
  font-size: small;
}

@media(max-width:700px){
    .parent-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5%;
        column-gap: 10%;        
    }
}
@media(max-width:450px){
    .parent-container{
        margin: 10%;
        column-gap: 10%;
    }
    .skill-container{
        display: block;
        margin: 0 auto;
    }
}
