.wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1.5rem;
scale: 0.9;
padding-top: 5%;
}


@media(max-width:1400px){
  .wrapper{
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width:750px){
  .wrapper{
    grid-template-columns: 1fr;
    margin-top: -25%;
  }
}
