.cardContainer {
  margin-bottom: 15px;
}
.card {
  cursor: pointer;
  transition: 0.5s;
}
.card-body p {
  font-size: smaller;
}
.card-body a {
  font-size: 20px;
  text-decoration: none;
}
.card:hover,
.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transform: scale(1.01);
}
.card-title {
  color: rgb(30, 30, 97);
  font-size: 1.5em;
}
.card-img {
  width: 100%;
  aspect-ratio: 2/1;
}
.profile-header {
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}
@media (max-width: 750px) {
  .profile-header {
    margin-top: 30%;
  }
}
