#about{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 5%;
    
}
.img-left{
    background-color: rgb(78, 67, 67);
    padding-left: 3%;
    padding-top: 5%;
    height: 80%;
}
.about-img{
    width: 350px;
}
.experience{
    padding-top: 3rem;
}
.xp-cards{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
} .card-template{
    background-color: rgb(10, 10, 196);
    margin-left: 1rem;
    padding: 2% 5%;
    border-radius: 1rem;
    text-align: center;
    color: yellow;
    width: 10rem;
    cursor: pointer;
    transition: 0.6s;
}
#xp-icons{
    font-size: 1.5rem;
    color: yellow;
}
.card-template p{
    font-size: small;
}
.card-template:hover{
    background-color: rgba(8, 8, 134, 0.5);
}