#about {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 5%;
  margin: 5rem;
}
.img-left {
  background-color: #605c32;
  padding-left: 3%;
  padding-top: 5%;
  height: 80%;
}
.about-img {
  width: 350px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.6);
}

.xp-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.card-template {
  background-color: rgb(10, 10, 196);
  margin-left: 1rem;
  padding: 2% 5%;
  border-radius: 1rem;
  text-align: center;
  color: yellow;
  width: 10rem;
  cursor: pointer;
  transition: 0.6s;
  height: 8rem;
}
#xp-icons {
  font-size: 1.5rem;
  color: yellow;
}
.card-template p {
  font-size: small;
}
.card-template h5{
    font-size: 1rem;
    margin-top: 1rem;
}
.card-template:hover {
  background-color: rgba(8, 8, 134, 0.5);
}
.btn-secondary {
  background-color: rgb(32, 31, 31) !important;
}
.custom-link{
    text-decoration: none !important;
}
.xp-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 850px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }
  .about-img {
    width: 80%;
  }
  .header-text {
    margin-top: 3rem;
  }
}