ul {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 15px;
    width: 30vw;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    z-index: 2;
    
    
}
ul li{    
    padding: 10px 30px;
    display: inline-block;
}
#nav-span{
    color: white;
}
@media(max-width:700px){
    ul{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
    }
}
