ul {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 15px;
    width: 30vw;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    z-index: 2;
    
    
}
ul li{
    color: white;
    padding: 10px 30px;
    display: inline-block;
}

@media(max-width:700px){
    ul li{
        display: inline-block;
        width: 100%;
    }
}