ul {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px;
  border-radius: 3rem;
  width: 40%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  z-index: 2;
  backdrop-filter: blur(10px);
}
ul li {
  padding: 10px 30px;
  display: inline-block;
  transition: 0.3s;
}
#nav-span {
  color: white;
}
ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* border-radius: 30%; */
  /* width: 20px; */
}

@media (max-width: 1200px) {
  ul {
    width: 60%;
  }
}
@media (max-width: 700px) {
  ul {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
  }
}
