#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10%;
  position: relative;
}
.portfolio{
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
  transition: 0.3s;
  cursor:default;
}
.portfolio:hover{
  color: rgb(99, 49, 49);
}
.intro-text {
  font-size: 1.1rem;
  color: white;
}
.name {
  color: yellow;
  font-size: 3rem !important;
}
.btn-secondary {
  margin-left: 5%;
  text-decoration: none;
}
.img {
  width: 280px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transform: rotate(15deg);
  transition: 0.3s;
}
.image-container {
  background-color: rgb(35, 34, 34);
  border-top-left-radius: 2rem;
  transform: rotate(-5deg);
}
.img:hover {
  transform: rotate(0deg);
}


@media(max-width:850px){
  #home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .image-container{
    margin-top: 5rem;
  }
  .portfolio{
    display: none;
  }
}
@media(max-width:400px){
  .image-container{
    margin-bottom: 20%;
    scale: 0.8;
  }
}
@media(max-width:550px){
.image-container{
  margin-bottom: 15%;
}
}