@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.5)),
    url(../../../assets/images/jeshoot.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
 }
 #home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10%;
  }
text p{
  font-size: 1.1rem;
  color: white;
}
text h2{
  color: yellow;
  font-size: 3rem !important;
}
.btn-secondary{
  margin-left: 5%;
  text-decoration: none;
}
.img{
  width: 280px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transform: rotate(15deg);
}
.image-container{
  background-color: rgb(35, 34, 34);
  border-top-left-radius: 2rem;
  transform: rotate(-5deg);
}